- # Footer
<footer class="footer">
  <div class="content has-text-centered">
    Made with love by Platoniq

    <p class="copyright text-muted">
      Copyright &copy; {{ site.title }} {{ now | format_date: '%Y' }}
    </p>
  </div>
  <ul class="list-inline.text-center">
    {% for metafield in site.metafields.social %}
      {% if metafield.value %}
      <li>
        <a href='{{ metafield.value }}'>
          {{ metafield.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</footer>