<footer class="footer is-fixed-bottom">
  <ul class="social is-flex is-justify-content-center">
    {% for metafield in site.metafields.social %}
      {% if metafield.value %}
      <li>
        <a href='{{ metafield.value }}'>
          <span class="icon">
            <i class="fa fa-{{ metafield.name }}"></i>
          </span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="content has-text-centered">
    Made with love by Platoniq

    <p class="copyright text-muted">
      Copyright &copy; {{ site.title }} {{ now | format_date: '%Y' }}
    </p>
  </div>
</footer>