{% raw %}
<!-- To use your snippet, just add the following code in your page template-->
<!-- {% include journal-nav %} -->
{% endraw %}

{% extends 'layouts/navbar' %}

{% block 'items' %}
    <div class="navbar-item is-active">
      <a href="{{ path_to categories }}" class="">Journal</a>
    </div>
    {% for category in contents.categories %}
    <div class="navbar-item">
      <a href="/category/{{ category.slug }}">{{ category.name }}</a>
    </div>
    {% endfor %}
{% endblock %}