{% raw %}
<!-- To use your snippet, just add the following code in your page template-->
<!-- {% include journal-nav %} -->
{% endraw %}

<nav role='navigation' aria-label='main-navigation'>
  <div class="navbar-brand">
    <a class="navbar-item" href='{% path_to home %}' title='{{ site.name }}'>
      {{ 'logo.svg' | theme_image_tag }}
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded: "false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      {% for category in contents.categories %}
      <div class="navbar-item">
        <a href="/{{ category.slug }}">{{ category.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</nav>