- # Navigation
%nav.nav{ role: 'navigation', aria: { label: 'main-navigation' } }
  .navbar-brand
    %a.navbar-item{ href: '{% path_to home %}', title: '{{ site.name }}'}
      {{ 'logo.svg' | theme_image_tag }}
    %a{ role: "button", class: "navbar-burger burger", aria: { label: "menu", expanded: "false" }, data: { target: "navbarBasicExample" } }
      %span.sr-only Toggle navigation
      %span{ aria: { hidden: "true" } }
      %span{ aria: { hidden: "true" } }
      %span{ aria: { hidden: "true" } }
  #navbar.navbar-menu
    .navbar-start
      {% for page_in_nav in site.pages %}
      {% if page_in_nav.depth == 1 %}
      .navbar-item
        {% link_to page_in_nav %}
      {% endif %}
      {% endfor %}