{% raw %}
<!-- To use your snippet, just add the following code in your page template-->
<!-- {% include nav %} -->
{% endraw %}

{% raw %}
<!-- To use your snippet, just add the following code in your page template-->
<!-- {% include journal-nav %} -->
{% endraw %}

{% extends 'layouts/navbar' %}

{% block 'items' %}
  {% for page_in_nav in site.pages %}
    {% if page_in_nav.depth == 1 %}
    <div class="navbar-item">
      {% link_to page_in_nav %}
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}
