{% raw %}
<!-- To use your snippet, just add the following code in your page template-->
<!-- {% include sidebar %} -->
{% endraw %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <ul>
    <a class="navbar-item" href="/articles/deep-dives">Deep Dives</a>
    <a class="navbar-item" href="/articles/interviews">Interviews</a>
    <a class="navbar-item" href="/articles/blueprints">Blueprints</a>
    <a class="navbar-item" href="/articles/papers">Papers</a>
  </ul>
</nav>