---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="{{ locale }}">
  {% include head %}

  <body>
    {% include nav %}

    {% block content %}
    {% endblock %}

    {% include footer %}
  </body>
</html>
