---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="{{ locale }}">
  {% include 'head' %}

  <body>

    {% block 'nav' %}
      {% include 'nav' %}
    {% endblock %}
    
    {% block 'main' %}

      <h1>{{ site.title }}</h1>

    {% endblock %}

    {% include 'footer' %}
  </body>
</html>
