---
title: Page layout
is_layout: false
---
{% extends 'layouts/default' %}

{% block 'nav' %}
  {% include 'journal_nav' %}
{% endblock %}

{% block 'main' %}
  <section class="section journal-articles tile is-ancestor">
    {% block 'articles' %}
      {% editable_model articles, hint: 'some text' %}
        {% for post in contents.posts %}
          {% include 'journal_tile' with post: post index: forloop.index %}
        {% endfor %}
      {% endeditable_model %}
    {% endblock %}
  </section>
{% endblock %}
