@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Colors
$orange: #F48B61;
$purple: #8A4D76;
$pink: #F8A0B3;
$light-blue: #61CBF4;
$yellow: #F8E5A0;
$white: #FFFAFA;
$family-sans-serif: 'Roboto Condensed',
sans-serif;
$grey-dark: #444;
$grey-light: #ccc;
$primary: $pink;
$primary-light: lighten($pink,
15%);
$blue-lighter: lighten($light-blue,
15%);
$warning: $orange;
$link: $light-blue;
// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Navbar
$navbar-height: 7.25rem !default;